<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jamieholdstock.dcrwidgets">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <receiver android:name=".widget.DcrWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/dcr_widget_provider" />
        </receiver>

        <activity
            android:name=".activity.WidgetSettings"
            android:theme="@style/Theme.AppCompat.Dialog.Alert"
            android:label="@string/choose_a_widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.DcrStatsService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>
